<% if user_signed_in? %>

  <% unless @log.like_user(current_user.id).blank? %>
    <%= link_to log_like_path(log_id: @log.id, id: @log.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
      <i class="fa fa-heart fa-sm"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to log_likes_path(@log.id), method: :post, remote: true do %>
      <div class="vertical_like">
       <i class="fa fa-heart fa-sm"></i>
      </div>
    <% end %>
  <% end %>
<% end %>