<%= render "logs/header"%>
<main>
  <h2 class="page-heading">Lower Body Training</h2>
  <div class="container-library">
    <div class="row">
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/JXdGBp_YYz0?start=3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/YoFT00akxjc?start=3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/Pcj52FBPvko?start=3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/oR4iY29PBjA?start=8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <h2 class="page-heading">Upper Body Training</h2>
  <div class="container-library">
    <div class="row">
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/Mfaf7lY3w38?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/WrobhcIeWhM?start=6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/9_JPTA3ie7k?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col xl3 l4 m6 xs12">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/seUCEgPsBtc?start=8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <h2 class="page-heading"> Body Training</h2>
    <div class="container-library">
      <div class="row">
        <div class="col xl3 l4 m6 xs12">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/bdWT9_EdZZ0?start=7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col xl3 l4 m6 xs12">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/9LCGaXo3PMY?start=3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col xl3 l4 m6 xs12">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/97boSjZ0erk?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col xl3 l4 m6 xs12">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/3qjoXDTuyOE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</main>
