// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// エラーメッセージ
.error-alert {
  display: flex;
  justify-content: left;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.login-flash-message {
  text-align: left;
  color: red;
}


// ヘッダー
.navbar{
  height: 75px;
}

// フッター

footer{
  background-color: #333333;
  color: #ffffff;
  height: 40px;
  text-align: center;
}
