// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_with_errors {
  display: contents;
  input {
   @extend.is-invalid;
  }
}


.error-alert {
  display: flex;
  justify-content: left;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.login-flash-message {
  text-align: left;
  color: red;
}
