// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// エラーメッセージ

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.error-alert {
  display: flex;
  justify-content: left;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.login-flash-message {
  text-align: left;
  color: red;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main{
  background-color: #f0efef;
  flex: 1;
  padding-top: 75px;
  width: 100%;
  height: 100%;
}

// index
.top-container{
  background-image: image-url('fit1.jpg');
  height: 800px;
  background-size: cover;
  margin-bottom: 80px;
  text-align: right;
  padding-top: 280px;
  padding-bottom: 100px;
}

.top-container h1{
  font-size: 75px;
  color: tomato;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.top-container h2{
  color: darkgrey;
  letter-spacing: 3px;
}

.top-container p{
  color: ＃1e212d;
  font-size: 20px;
  opacity: 0.7;
}

.container{
  margin-bottom: 60px;
  display: flex;
}

.heading-index{
  text-align: center;
  color:tomato;
  margin-bottom: 30px;
  border-bottom: 5px solid tomato;
  font-family: 'Alegreya Sans SC', sans-serif;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
}
 /*画面幅が480pxまでの時*/
@media screen and (max-width:480px){
  .top-container{
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 40px;
    }
    .row{
      text-align: center;
    }
  }    
  

// new

.new-main{
  background-image: image-url('gym.jpg');
  background-size: cover;
}
.page-heading{
  margin-left: 40px;
  margin-top: 10px;
  color: red;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid tomato;
}
.new-log-form{
  margin-left: 30px;
  margin-top: 30px;
}
.form-row{
  margin-bottom: 20px;
}
.btn--red.btn--cubic {
  color:white;
  background-color: red;
  border-bottom: 5px solid #9f000c;
}

.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #9f000c;
}

.btn--radius {
  border-radius: 100vh;
}

.btn-circle{
  border-radius: 30px;
  padding: 10px 15px;
  height: 50px;
  margin-left: 10px;
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  width: 180px;
  border-radius: 20px;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.links{
 display: inline-block;
 margin-top: 20px;
 margin-right: 20px;
}

.pagination{
  justify-content: center;
}


.page-item.active .page-link{
  background-color: tomato;
  border-color: tomato;
}

 @media screen and (max-width:480px){
  .page-heading{
   margin-top: 35px;
    }
    .add_logs{
      padding-right: 10px;
      width: 60%;
    }
    .unit{
      display: none;
    }
    .form-control{
      margin-bottom: 5px;
    }
    .btn{
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }    
.unit{
  margin-top: 5px;
}

// show

.show-main{
  background-image: image-url('mypage.jpg');
  background-size: 100%;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.table{
  width: 50%;
  margin-top: 30px;
  margin-left: 30px;
  border: tomato solid 2px;
}

 /*画面幅が480pxまでの時*/
 @media screen and (max-width:480px){
  .table{
    width: 80%;
    box-sizing: border-box;
    }
  }    


.log-comments{
  margin-left: 30px;
  margin-top: 200px;
}

.comment-heading{
  color: tomato;
  font-weight: bold;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 35px;
  border-bottom: tomato solid 2px;
}

.comment{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.comments-list{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
}

.comment-list{
  border: tomato solid 1px;
  padding:10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media screen and (max-width:480px){
  #comment_text{
    width: 80%;
    }
    .comments-list{
      width: 80%;
    }
  }    

.delete-btn{
  float:right;
  margin-right: 20px;
}


li{
  list-style: none;
}

.user-comment{
  margin-left: 30px;
}

.training-text{
  display: inline-block;
  margin-right: 10px;
  color: gray;
}
.user-name{
  color: gray;
}

.user-main{
  background-image: image-url('bike.jpg');
  background-size: 100%;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-repeat: repeat-x;
}


// likes.scss

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff!important;
}

.like-btn {
  margin-top: 5px;
  font-size: 20px;
  color: #808080;
}
 
.unlike-btn {
  margin-top: 5px;
  font-size: 20px;
  color: #e54747;
}

// ライブラリ

.container-library{
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

// ログイン、新規登録

.container-login{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: tomato solid 2px;
  padding: 30px 20px 90px 20px;
  background-color:#FFC0CB;
}
.container-signup{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: tomato solid 2px;
  padding: 30px 20px 90px 20px;
  background-color:#FFC0CB;
}

.login-heading{
  color: tomato;
  margin-bottom: 30px;
  border-bottom: 5px solid tomato;
  font-family: 'Alegreya Sans SC', sans-serif;
}

// ヘッダー
.navbar{
  height: 75px;
  background-color: rgba(34, 49, 52, 0.9);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}



// フッター

footer{
  background-color:  rgba(34, 49, 52, 0.9);
  color: #ffffff;
  height: 40px;
  text-align: center;
  margin-top: 3px;
  padding-top: 5px;
}